@media screen and (device-width: 601px) and (device-height: 962px)
 {
  
#idC{
    font-size:52px;
     
}
#idc{
    font-size:38px;
    margin-top: -2px;
     margin-left: 1px;
    
}
#idh{
    font-size:42px;
    margin-top: -3px;
    margin-left: -2px;
}
#idH{
    font-size:30px;
    margin-top: 1px;
     margin-left: 4px;  
}
#idy{
    font-size:40px;
       
}
#idJ{
     font-size:34px;
     margin-top: 0px;
     margin-left: 2.99px;
}
#idj{
     font-size:35px;
     margin-top: 0px;
     margin-left: 2px;
}
#idz{
     font-size:35px;
    margin-top: 1px;
     margin-left: 4px;
}
#idF{
     font-size:32px;
     margin-top: 3px;
     margin-left: 4px;
}
#idf{
      font-size:42px;
     margin-top: -4px;
     margin-left: -0px;
}
#ida{
      font-size:32px;
      margin-top: 3px;
     margin-left: 3.8px;
}
#idA{
     font-size:42px;
     
 
}
#idm{
     font-size:40px;
     margin-top: -2px;
     margin-left: 0px;
}
#idE{
  font-size:50px;  
     margin-top: -8px;
     margin-left: -5px;
    z-index: 0;
}
#ide{
  font-size:45px;  
      margin-top: -4px;
     margin-left: -1px;

}
#idq{
   font-size:60px;  
     margin-top: -13px;
     margin-left: -10px;
}
#idw{
     font-size:28px;
     margin-top: 2px;
     margin-left: 6px;
}
#idN{
     font-size:43px;
     margin-top: -4px;
     margin-left: -3px;
}
#idn{
     font-size:35px;
      
}
#idL{
    font-size:42px;
      margin-top: -4px;
     margin-left: -3px;
}
#idl{
     font-size:35px;
     margin-top: 0px;
     margin-left: 2px;
}

#idK{
     font-size:30px;
     margin-top: 4px;
     margin-left: 5px;
       
}
#idk{
     font-size:40px;
        margin-top: -3px;
     margin-left: -1px;  
       
}

#idI{
     font-size:40px;
     margin-top: -4px;
     margin-left: 0px;
}
#idi{
    font-size:28px;
      
       
}
#idD{
    font-size:30px;
    margin-top: 2px;
     margin-left: 5px; 
}
#idP{
    font-size:50px;
     margin-top: -8px;
     margin-left: -6px;
      
}
#idp{
     font-size:44px; 
     
}
#idt{
     font-size:36px;
     
}
#ido{
      font-size:45px;
      margin-top: -7px;
     margin-left: -3px;
}
#idv{
     font-size:45px;
     margin-top: -7px;
     margin-left: -2px;
}

#idB{
     font-size:32px;
      margin-top: 1px;
     margin-left: 4px; 
}
#idG{
     font-size:34px;
       margin-top: 2px;
     margin-left: 3px; 
}
#idg{
     font-size:40px;
      margin-top: 0px;
     margin-left: -1px;
     
}#idu{
     font-size:30px;
      margin-top: 1px;
     margin-left: 5px; 
}#ids{
     font-size:42px;
     margin-top: -3px;
     margin-left: -2px; 
}
#idx{
     font-size:36px;
     margin-top: 0px;
     margin-left: 3px;  
}

#idc2{
     font-size:47px;
     margin-top: -4.8px;
     margin-left: -3.5px;
}
#ida2{
     font-size:62px;
     margin-top: -11px;
     margin-left: -9px;
     
}
#idb2{
     font-size:28px;
      margin-top: 5px;
     margin-left: 6px; 
}
#idd2{
     font-size:30px;
       margin-top: 2px;
     margin-left: 5px; 
}
#ide2{
     font-size:32px;
     margin-top: 4px;
     margin-left: 3px;
}
#ida4{
     font-size:62px;
     margin-top: -11px;
     margin-left: -11px;
}
#idm5{
    
     font-size:40px; 
}
 /**/
#idi5{
    font-size:42px;
     margin-top: -3px;
     margin-left: -1px;
}
#idc5{
    font-size:42px;
       margin-top: 0px;
     margin-left: -1px; 
  
}
#idb5{
    font-size:42px;
    margin-top: -2px;
     margin-left: -1px;
}
#idd5{
     font-size:42px;
    margin-top: -2px;
     margin-left: -1px;
}
#ide5{
     font-size:32px;
     
}
#idf5{
    font-size:42px;
      margin-top: -3px;
     margin-left: -4px;
}
/*---------*/
#idd7{
    font-size:32px;
     margin-top: 1px;
     margin-left: 4px;  
}
#ide7{
    font-size:32px;
       margin-top: 1px;
     margin-left: 4px;  
}
#idc7{
    font-size:32px;
     margin-top: 2px;
     margin-left: 4px;
}


#idf7{
    font-size:36px;
       margin-top: -1px;
    margin-left: 1px;
}

#idb7{
    font-size:32px;
      
}
#idi7{
    font-size:32px;
    margin-top: 2px;
    margin-left: 4px;
      
}
#idg7{
    font-size:32px;
       margin-top: 2px;
     margin-left: 3px;
}
#idh7{
    font-size:55px;
         margin-top: -11px;
     margin-left: -9px;
      
}

#ida7{
    font-size:32px;
    margin-top: 0px;
    margin-left: 4px;
}

 
}
 

 